{
    "root": true,
    "extends": [
        "standard"
    ],
    "plugins": [
        "vue"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "amd": true
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        
    }
}